*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  background: #6a8394 !important; /* active color */
  padding: -5px 12px !important;      /* yaha padding kam kar di */
  border-radius: 4px;
}